{
    "parser": "babel-eslint",
    "extends": [
        "airbnb"
    ],
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "rules": {
        "no-unused-vars": 0
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {}
}